#mapUOC { height: 590px; }

.custom-container {
    max-width: 60%; /* O el máximo ancho que prefieras */
    margin-right: auto;
    margin-left: auto;
}
  
.map-container {
    width: 100%; /* El mapa ocupará el ancho completo del contenedor personalizado */
    height: 400px; /* Ajusta la altura según tus necesidades */
}
  
  @media (max-width: 768px) {
    .custom-container {
      max-width: 100%; /* En dispositivos pequeños, el contenedor puede ocupar más ancho */
    }
  }  
  