<h1 class="text-center">Actualice su Ubicación</h1>

<div class="wrapper">
    <div class="box-inputs">
      <div>
        <!-- para que permita hacer busquedas de direccines en el mapa usando geocoder-->
        <div id="geocoder" #asGeoCoder class="geocoder"></div>
      </div>
  
      <div (click)="changeMode('start')" [ngClass]="{'active-way' : modeInput === 'start'}">
        <div class="mock-label">Ubicación</div>
        <div class="mock-input">{{wayPoints.start?.place_name}}</div>
      </div>
      <div>
        <div class="mock-label" >Longitud</div>
        <div class="mock-input" >{{ubicacion.longitud}}</div>
      </div>  
      <div>
        <div class="mock-label">Latitud</div>
        <div class="mock-input">{{ubicacion.latitud}}</div>
      </div>      
    </div>     
</div>
<div class="wrapper">
    <div id="map" #asMap class="map-container-trabajador"></div>
</div>
<div class="text-center">
  <button type="submit" (click)="actualizaUbicacion()" class="btn btn-primary">Guardar</button>
</div>
