/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}

/* Establece una altura fija para el footer si aún no tiene una */
.app-footer {
  height: 60px;
}
  

.content-wrapper {
  flex: 1; /* Esto hará que el content-wrapper se expanda y empuje el footer hacia abajo */
}
  

html, body {
  height: 100%;
  margin: 0; /* Elimina los márgenes por defecto */
  font-family: 'Source Sans Pro', sans-serif;
}
  
  .main-container {
    min-height: 100vh; /* Usa la altura de la ventana del navegador */
    display: flex;
    flex-direction: column;
  }

/**nav*/
/* Aplica estilos generales al contenedor de la barra de navegación */
.navbar {
  background-color: #fff; /* Color de fondo */
  box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Sombra suave para dar profundidad */
}

/* Estilos para los elementos de la lista */
.navbar-nav {
  list-style: none;
  padding-left: 0;
}

/* Estilos para los enlaces */
.navbar-nav .nav-link {
  color: #333; /* Color de texto */
  padding: 10px 15px; /* Espaciado alrededor de los enlaces */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para los estados interactivos */
  font-size: 1.5em;
}

/* Estilo cuando el cursor pasa por encima de los enlaces */
.navbar-nav .nav-link:hover {
  background-color: #e7e7e7; 
  border-radius: 5px; 
  color: #0056b3; 
  padding: 5px 10px; 
  transform: scale(1.05); 
}

/* Estilos para el enlace activo */
.navbar-nav .nav-link.active {
font-weight: bold; /* Texto en negrita para el enlace activo */
color: #0056b3;
text-decoration: underline;
}
/* Opciones de tipografía */
.navbar-brand,
.nav-link {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fuente del menú */
}

/* Estilos para el botón de menú hamburguesa en vistas móviles */
.navbar-toggler {
border: none;
color: #333; /* Color del icono del menú hamburguesa */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
  padding: 10px 20px; /* Mayor espaciado para enlaces en menú móvil */
  }
  /* Menú hamburguesa expandido con fondo más oscuro */
  .navbar-collapse {
  background-color: #f8f9fa;
  }
}

/**fin nav**/

/*   styles migrados desde trabajador.css */
.geocoder, .mapboxgl-ctrl {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  background-color: white;
}

/* utilizado para formuarios */
.card-header {
  background-color: #007bff; 
  color: white;
}

.card-title {
  margin-bottom: 0;
}



