<footer class="jumotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>
                        Este sitio tiene como objetivo facilitar la distribución laboral de contratos a corto plazo para personas sin
                        trabajo fijo y emprendedores, sitio web sin fines de lucro
                    </p>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="" class="text-white me-4">                
                    <app-icon iconName="facebook-logo-svgrepo-com"></app-icon>
                </a>
                <a href="" class="text-white me-4">
                    <app-icon iconName="twitter-social-logotype-svgrepo-com"></app-icon>
                </a>
                <a href="" class="text-white me-4">
                    <app-icon iconName="google-logo-fill-svgrepo-com"></app-icon>
                </a>
                <a href="" class="text-white me-4">
                    <app-icon iconName="instagram-logo-svgrepo-com"></app-icon>
                </a>
                <a href="" class="text-white me-4">
                   <app-icon iconName="linkedin-logo-svgrepo-com"></app-icon>
                </a>
                <a href="" class="text-white me-4">
                   <app-icon iconName="github-142-svgrepo-com"></app-icon>
                </a>
            </div>


        </div>

    </div>
</footer>