<!-- contrato.component.html -->

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center">Registro de Contrato</h1>

      <form (ngSubmit)="guardarContrato()" class="card p-4">
        <!-- Estos campos están ocultos, así que no necesitan estructura de form-group -->
        <input type="hidden" [(ngModel)]="contrato.id_usuario_contratante" name="id_usuario_contratante" />
        <input type="hidden" [(ngModel)]="contrato.id_usuario_trabajador"  name="id_usuario_trabajador"  />

        <div class="form-group mb-3">
          <label for="tipo_contrato">Tipo de Contrato</label>
          <select class="form-select" [(ngModel)]="contrato.tipo_contrato" name="tipo_contrato" required>
            <option *ngFor="let tipoContrato of tipoContrato" [value]="tipoContrato.id">
              {{ tipoContrato.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="fecha_inicio">Fecha de Inicio</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="contrato.fecha_inicio"
            name="fecha_inicio"
          />
        </div>

        <div class="form-group mb-3">
          <label for="fecha_fin">Fecha de Fin</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="contrato.fecha_fin"
            name="fecha_fin"
          />
        </div>

        <div class="form-group mb-3">
          <label for="descripcion">Descripción</label>
          <textarea
            class="form-control"
            [(ngModel)]="contrato.descripcion"
            name="descripcion"
            placeholder="Descripción"
          ></textarea>
        </div>
        <div class="form-group mb-3">
          <div *ngIf="mensaje" class="alert" 
          [ngClass]="{'alert-success': mensaje.includes('exito'), 'alert-danger': mensaje.includes('Error')}">
            {{ mensaje }}
          </div>
        </div>        
        <button type="submit" class="btn btn-primary mb-3" [disabled]="deshabilitaContratar" >Genera Contrato</button>
        <button type="button" (click)="cancelarRegistro()" class="btn btn-secondary mb-3">Cancelar</button>
      </form>
    </div>
  </div>
</div>
